<div class="row">
  <h1 class="text-center">My Dashboard</h1>
  <ul class="tabs" data-tab data-options="deep_linking: true; scroll_to_content: false">
    <li class="tab-title active"><a href="#user-info">User Info</a></li>
    <li class="tab-title"><a href="#your-booths">Your Booths</a></li>
  </ul>
  <div class="tabs-content">
    <hr>
    <div class="content active" id="user-info">
      <%= render partial: "devise/user_info" %>
    </div>
    <div class="content" id="your-booths">
      <%= link_to "<i class='fa fa-plus'></i> Add a Booth".html_safe, new_booth_path, class: "tiny button success round" %>
      <table>
        <thead>
          <tr>
            <th width="200">Booth</th>
            <th>Address</th>
            <th width="150"></th>
          </tr>
        </thead>
        <tbody>
          <% @booths.each do |booth| %>
            <tr>
              <td><%= link_to booth.name, booth_path(booth.uid) %></td>
              <td><%= booth.address1 %></td>
              <td>
                <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_booth_path(booth.uid), title: "Edit Booth" %>
                <%= link_to "<i class='fa fa-shopping-basket'></i>".html_safe, booth_items_path(booth.uid), title: "Items" %>
                <%= link_to "<i class='fa fa-trash'></i>".html_safe, booth_path(booth.uid), method: :delete, data: {confirm: "Are you sure?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>