<div class="row">
  <div class="large-12 columns">
    <h1>Create an Item</h1>
  </div>
</div>

<%= form_for [@booth, @item] do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :category_id, "Category" %>
      <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id] } %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
  </div>

  <%= f.fields_for :image do |image_field| %>
    <div class="row">
      <div class="large-6 columns">
        <%= image_field.label :image %>
        <%= image_field.file_field :image %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="large-1 columns">
      <%= f.submit "Add Item", class: "button primary" %>
    </div>
  </div>
<% end %>