<div class="row">
  <h3>Search Results</h3>
  <hr>
</div>
<div class="row">

  <div class="small-8 large-8 columns">
    <% @items.each do |item| %>
      <div class="row">
        <%= render partial: "items/search_items_images", locals: { item: item } %>
        <p><%= link_to item.name, booth_item_path(item.booth, item) %> - <%= number_to_currency(item.price) %></p>
        <p><%= item.description %></p>
      </div>
      <div class="row">
        <hr>
      </div>
    <% end %>
  </div>

  <div class="small-4 large-4 columns">
    <%= form_tag items_search_path, method: :get do |f| %>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag "Search" %>
          <%= text_field_tag :search, nil, placeholder: "appliances, clothes, etc.", size: 30 %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= label_tag "Location" %>
          <%= text_field_tag :location, nil, placeholder: "denver, miami, etc." %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= label_tag "Category" %>
          <%= select_tag :category, options_for_select(Category.all.map{ |f| [f.name, f.id] }) %>
        </div>
      </div>
      
      <div class="row">
        <div class="large-12 columns">
          <%= submit_tag 'Search', class: "button success" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="small-8 large-8 columns right">
    <ul class="pagination">
      <li class="arrow unavailable"><a href="">&laquo;</a></li>
      <li class="current"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li class="unavailable"><a href="">&hellip;</a></li>
      <li><a href="">12</a></li>
      <li><a href="">13</a></li>
      <li class="arrow"><a href="">&raquo;</a></li>
    </ul>
  </div>
</div>