<div class="row">
  <h1><%= @item.name %> - <%= number_to_currency(@item.price) %></h1>
</div>
<div class="row">
  <hr>
  <div class="large-7 columns">
    <div class="items-show">
      <div data-thumb="http://placehold.it/540x400">
        <img src="http://placehold.it/540x400">
      </div>
      <div data-thumb="http://placehold.it/540x400">
        <img src="http://placehold.it/540x400">
      </div>
      <div data-thumb="http://placehold.it/540x400">
        <img src="http://placehold.it/540x400">
      </div>
    </div>
  </div>
  <div class="large-5 columns">
    <h4><%= @item.name %></h4>
    <p><%= @item.description %></p>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-6 columns">
    <h4>Contact Owner</h4>
      <label>Name</label>
      <input type="text" placeholder="Full Name" required>
      
      <label>Email</label>

      <input type="email" placeholder="username@address.com" required>
      
      <label>Web Address</label>          
      <input type="url" placeholder="http://www.url.com">
      
      <label>Your Message</label>
      <textarea placeholder="Enter your message here" required></textarea>
      
    <input type="submit" class="nice blue radius button" value="Send Message">
  </div>
  <div class="large-6 columns">
    <div id="map" class="clearfix">
    </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-12 columns">
    <h4>Other items in this booth</h4>
    <% @booth.other_items(@booth, @item).each do |item| %>
      <%= link_to image_tag("http://placehold.it/190x150&amp;text=[img]"), booth_item_path(@booth, item) %>
    <% end %>
  </div>
</div>
<div class="row">
  <hr>
</div>