<div class="row">
  <h2><%= link_to @item.booth.name, booth_path(@item.booth) %></h2>
  <h3><%= @item.name %> - <%= number_to_currency(@item.price) %></h3>
  <%= link_to "Edit", edit_booth_item_path(@item.booth, @item) %>
</div>
<div class="row">
  <hr>
  <div class="large-7 columns">
    <div class="items-show">
      <% if @item.images.present? %>
        <% @item.images.each do |image| %>
          <div data-thumb=<%= image.image.url %>>
            <%= image_tag(image.image.thumb("540x400#").url) %>
          </div>
        <% end %>
      <% else %>
        <div data-thumb="http://placehold.it/540x400">
          <%= image_tag("http://placehold.it/540x400") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="large-5 columns">
    <h4><%= @item.name %></h4>
    <p><%= @item.description %></p>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-6 columns">
    <h4>Contact Owner</h4>
      <label>Your Name</label>
      <input type="text" placeholder="Full Name" required>
      
      <label>Your Email</label>

      <input type="email" placeholder="username@address.com" required>
      
      <label>Your Message</label>
      <textarea placeholder="Enter your message here" required></textarea>
      
    <input type="submit" class="nice blue radius button" value="Send Message">
  </div>
  <div class="large-6 columns">
    <div id="map" class="clearfix">
    </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-12 columns">
    <h4>Other items in this booth</h4>
    <% @booth.other_items(@booth, @item).each do |item| %>
      <%= link_to image_tag(item.image_thumb_or_default), booth_item_path(@booth, item) %>
    <% end %>
  </div>
</div>
<div class="row">
  <hr>
</div>