<div class="row">
  <h2><%= link_to @item.booth.name, booth_path(@item.booth) %></h2>
  <h3><%= @item.name %> - <%= number_to_currency(@item.price) %></h3>
  <%= link_to "Edit", edit_booth_item_path(@item.booth, @item) %>
</div>
<div class="row">
  <hr>
  <div class="large-7 columns">
    <div class="items-show">
      <%= render partial: "items/item_image" %>
    </div>
  </div>
  <div class="large-5 columns">
    <h4><%= @item.name %></h4>
    <p><%= @item.description %></p>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-6 columns">
    <h4>Contact Owner</h4>
    <%= form_for Message.new, url: contact_path do |message_form| %>
      <%= message_form.hidden_field :owner_email, value: "#{@item.booth.email}" %>
      <%= message_form.text_field :name, placeholder: "Your Name" %>
      <%= message_form.email_field :email, placeholder: "Your Email"%>
      <%= message_form.text_area :content, placeholder: "I want to know more about #{@item.name}!", rows: "10" %>
      <%= message_form.submit "Send", class: "button" %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <div id="item-map" class="clearfix">
    </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-12 columns">
    <h4>Other items in this booth</h4>
    <% @booth.other_items(@booth, @item).each do |item| %>
      <%= render partial: "items/image_or_default", locals: { item: item, thumb: "190x150" } %>
    <% end %>
  </div>
</div>
<div class="row">
  <hr>
</div>

<script type="text/javascript">
  function itemMap() {
    var mapCanvas = document.getElementById('item-map');
    var mapOptions = {
      center: new google.maps.LatLng(<%= @item.booth.latitude %>, <%= @item.booth.longitude %>),
      zoom: 14,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(mapCanvas, mapOptions)

    var myLatLng = {lat: <%= @item.booth.latitude %>, lng: <%= @item.booth.longitude %>};
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
  google.maps.event.addDomListener(window, 'load', itemMap);
</script>